$wrap-box-width: 1140px;

$lato: "Lato";

$base-pink: #F16D7F;
$base-black: #222222;
$base-gray: #6F6E6E;
$white: #FFFFFF;
$light-gray: #F8F8F8;
$light-pink: #F1E4E6;
$form-bgr: #E1E1E1;
$form-brd:#A4A4A4;
$txt-gray: #9F9F9F;
$bread-bgr: #F8F3F4;
$dark-gray: #4D4D4D;
$prod-brd: #EAEAEA;
$carousel-bgr: #F7F7F7;
$carousel-btn: rgba(42, 42, 42, 0.15);
$button-gray: #A4A4A4;